<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.eclipse.handly.examples"
            class="org.eclipse.handly.internal.examples.javamodel.ui.navigator.PackageExplorer"
            icon="icons/eview16/package.gif"
            id="org.eclipse.handly.examples.javamodel.ui.views.PackageExplorer"
            name="Package Explorer (Handly)"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="org.eclipse.handly.examples.javamodel.ui.views.PackageExplorer"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.jdt.ui.PackageExplorer">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer
            viewerId="org.eclipse.handly.examples.javamodel.ui.views.PackageExplorer">
      </viewer>
      <viewerContentBinding
            viewerId="org.eclipse.handly.examples.javamodel.ui.views.PackageExplorer">
         <includes>
            <contentExtension
                  pattern="org.eclipse.handly.examples.javamodel.ui.navigator.JavaContent">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.handly.examples.java.ui.navigator.JavaLinkHelper">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.filters.startsWithDot">
            </contentExtension>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding
            viewerId="org.eclipse.handly.examples.javamodel.ui.views.PackageExplorer">
         <includes>
            <actionExtension
                  pattern="org.eclipse.handly.examples.javamodel.ui.navigator.OpenActionProvider">
            </actionExtension>
         </includes>
      </viewerActionBinding>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            contentProvider="org.eclipse.handly.internal.examples.javamodel.ui.JavaContentProvider"
            icon="icons/eview16/jperspective.gif"
            id="org.eclipse.handly.examples.javamodel.ui.navigator.JavaContent"
            labelProvider="org.eclipse.handly.internal.examples.javamodel.ui.JavaLabelProvider"
            name="Java Content (Handly)">
         <possibleChildren>
            <or>
               <instanceof
                     value="org.eclipse.handly.examples.javamodel.IJavaElement">
               </instanceof>
               <instanceof
                     value="org.eclipse.core.resources.IFolder">
               </instanceof>
            </or></possibleChildren>
         <triggerPoints>
            <or>
               <instanceof
                     value="org.eclipse.handly.examples.javamodel.IJavaElement">
               </instanceof>
               <instanceof
                     value="org.eclipse.core.resources.IFolder">
               </instanceof>
               <instanceof
                     value="org.eclipse.core.resources.IFile">
               </instanceof>
            </or>
         </triggerPoints>
      </navigatorContent>
      <actionProvider
            class="org.eclipse.handly.internal.examples.javamodel.ui.navigator.OpenActionProvider"
            id="org.eclipse.handly.examples.javamodel.ui.navigator.OpenActionProvider">
         <enablement></enablement>
      </actionProvider>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.linkHelper">
      <linkHelper
            class="org.eclipse.handly.internal.examples.javamodel.ui.navigator.JavaLinkHelper"
            id="org.eclipse.handly.examples.java.ui.navigator.JavaLinkHelper">
         <editorInputEnablement>
            <or>
               <instanceof
                     value="org.eclipse.ui.IFileEditorInput">
               </instanceof>
            </or>
         </editorInputEnablement>
         <selectionEnablement>
            <or>
               <instanceof
                     value="org.eclipse.handly.examples.javamodel.IJavaElement">
               </instanceof>
               <instanceof
                     value="org.eclipse.core.resources.IResource">
               </instanceof>
            </or>
         </selectionEnablement>
      </linkHelper>
   </extension>
</plugin>
